<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo - Game </title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="game_view_background" id="app">
        <div class="d-flex justify-content-between align-items-center gameViewMenuButtonContainer mb-5">
            <h1 class="viewTitleText"> S A L V O </h1>
            <div class="usernameDisplay d-flex align-items-center justify-content-center">
                {{currentUser.username}}
            </div>
            <button class="gameViewMenuButton" @click="showHowToPlay"> How to Play </button>
            <button class="gameViewMenuButton" @click="gameBrowser"> Back to Game Browser </button>
            <button id="logoutButton" type="submit" class="gameViewMenuButton" v-on:click="logout">
                Log Out
            </button>
        </div>
        <div v-if="showRules" class="rulesContainer text-light d-flex flex-column px-5 mb-2">
            <div class="rules">
                <h1>
                    The rules are simple.
                </h1>
                <ol>
                    <li>
                        Place your ships on the board. Your
                        fleet is located at the leftmost portion of the screen. The number inside each cutout indicates
                        the length of the ship as seen on the board. Click 'Change Orientation' if you want to switch
                        between a horizontal
                        and vertical placement of the ship. When you have placed all five ships on the board and are
                        happy
                        to begin the game, click DEPLOY FLEET after it appears in the center of the page.
                    </li>
                    <li>
                        Once your
                        opponenent has also deployed their fleet, the game will begin. Select five vectors on the enemy
                        board, located
                        on
                        the right, to unleash a salvo in each location. Direct hits will result in a red 'X' appearing
                        oncreen,
                        whereas each miss will appear as a blue 'X'. When an opponent's ship has been sunk, its
                        corresponding avatar
                        on the opponent's side of the board will change. The same happens when your own ships are sunk.
                    </li>
                    <li> To win the game, you must destroy all
                        of your opponent's ships before they can do the same to yours. Because both teams fire in
                        unison, it
                        is possible for the game to result in a draw. Players are awarded a score of 1 for winning,
                        0.5
                        for drawing, and 0 for a loss.
                    </li>
                    <li>
                        Visit the 'GAMES' page to see your rank on the leaderboards.
                    </li>
                </ol>
            </div>
            <button @click="showHowToPlay" class="text-danger ml-5 bg-light text-dark" style="width: 15%"> CLOSE
            </button>
        </div>
        <div class="display-1" id="rules"> </div>
        <div v-if="opponentTurnCounter < player.currentTurn" id="fleetButton"
            class="d-flex justify-content-center align-items-center">
            <div class="waiting">
                <p> WAITING FOR THE ENEMY TO REVEAL THEMSELVES... </p>
            </div>
        </div>
        <div v-if="gameStatus == 2" class="waiting d-flex flex-column">
            <p class="text-primary display-1"> VICTORY </p>
            <p> YOUR OPPONENT NOW RESTS AT THE BOTTOM OF THE OCEAN </p>
            <button @click="submitScore"> Submit Score (+2) & Return to Game Browser </button>
        </div>
        <div v-if="gameStatus == 0" class="waiting d-flex flex-column">
            <p class="text-danger display-1"> DEFEAT </p>
            <p> YOUR CREW FOUGHT BRAVELY TO THE VERY END </p>
            <button @click="submitScore"> Submit Loss & Return to Game Browser </button>
        </div>
        <div v-if="gameStatus == 1" class="waiting d-flex flex-column">
            <p class="text-warning display-1"> STALEMATE </p>
            <p> CONGRATULATIONS ON YOUR MUTUALLY ASSURED DESTRUCTION </p>
            <button @click="submitScore"> Submit Score (+1) & Return to Game Browser </button>
        </div>
        <div v-if="player.currentTurn == 1 && !player.opponent && gameStatus != null" id="fleetButton"
            class="d-flex justify-content-center align-items-center">
            <div class="waiting">
                <p> WAITING FOR THE ENEMY TO REVEAL THEMSELVES... </p>
            </div>
        </div>
        <div v-if="showRecord" class="d-flex flex-column record">
            <p class="display-1 text-white text-center"> {{player.player.username}} </p>
            <div class="d-flex justify-content-around stats">
                <p> Wins: {{player.player.win}} </p>
                <p> Losses: {{player.player.lose}} </p>
                <p> Draws: {{player.player.draw}} </p>
                <p> Total Score: {{player.player.score}} </p>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-flex flex-column justify-content-between mr-5">
                <div class="d-flex flex-wrap">
                    <div class="d-flex flex-column justify-content-around mb-5 mt-2">
                        <div v-if="!patrolBoatPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelector" id="patrolBoat" @click="placePatrolBoat"> 2 </button>
                            <div class="gameViewShipSelectorCaption text-center"> PATROL BOAT </div>
                        </div>
                        <div v-if="patrolBoatPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelectorSubmitted" id="patrolBoat"> 2 </button>
                            <div class="gameViewShipSelectorCaption text-center"> PATROL BOAT </div>
                        </div>
                        <div v-if="!destroyerPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelector" id="destroyer" @click="placeDestroyer"> 3 </button>
                            <div class="gameViewShipSelectorCaption text-center"> DESTROYER </div>
                        </div>
                        <div v-if="destroyerPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelectorSubmitted" id="destroyer" @click="placeDestroyer"> 3
                            </button>
                            <div class="gameViewShipSelectorCaption text-center"> DESTROYER </div>
                        </div>
                        <div v-if="!submarinePlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelector" id="submarine" @click="placeSubmarine"> 3 </button>
                            <div class="gameViewShipSelectorCaption text-center"> SUBMARINE </div>
                        </div>
                        <div v-if="submarinePlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelectorSubmitted" id="submarine" @click="placeSubmarine"> 3
                            </button>
                            <div class="gameViewShipSelectorCaption text-center"> SUBMARINE </div>
                        </div>
                        <div v-if="!battleshipPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelector" id="battleship" @click="placeBattleship"> 4 </button>
                            <div class="gameViewShipSelectorCaption text-center"> BATTLESHIP </div>
                        </div>
                        <div v-if="battleshipPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelectorSubmitted" id="battleship" @click="placeBattleship"> 4
                            </button>
                            <div class="gameViewShipSelectorCaption text-center"> BATTLESHIP </div>
                        </div>
                        <div v-if="!aircraftCarrierPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelector" id="aircraftCarrier" @click="placeAircraftCarrier"> 5
                            </button>
                            <div class="gameViewShipSelectorCaption text-center"> AIRCRAFT CARRIER
                            </div>
                        </div>
                        <div v-if="aircraftCarrierPlaced" class="d-flex flex-column">
                            <button class="gameViewShipSelectorSubmitted" id="aircraftCarrier"
                                @click="placeAircraftCarrier"> 5
                            </button>
                            <div class="gameViewShipSelectorCaption text-center"> AIRCRAFT CARRIER
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="fleetTitleText d-flex justify-content-center align-items-center my-3"> YOUR
                            FLEET, WHO YOU LOVE </div>
                        <table class="d-flex" id="shipGrid">
                        </table>
                        <div class="d-flex flex-column">
                            <button v-if="verticalOrientation" class="boardMenuButton my-2" @click="orientation">
                                Ship
                                Orientation (Vertical)
                            </button>
                            <button V-IF="!verticalOrientation" class="boardMenuButton my-2" @click="orientation">
                                Ship
                                Orientation
                                (Horizontal) </button>
                            <button class="boardMenuButton my-2" @click="resetBoard"> Reset Board (Pre-Deploy Only)
                            </button>
                            <button class="boardMenuButton my-2 font-weight-bold" @click="showUserRecord">
                                YOUR SERVICE RECORD
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-end side-board-column ml-5">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <div
                            class="opponentTitleText text-danger my-3 d-flex justify-content-center align-items-center">
                            YOUR
                            ENEMY, WHO YOU HATE </div>
                        <table class="d-flex my-4" id="hitGrid">
                        </table>
                        <div class="d-flex justify-content-center my-2">
                            <div v-if="shotsFiredThisRound.length == 5"
                                class="d-flex justify-content-center align-items-center">
                                <button @click="fireAway" class="salvoButton"
                                    onmouseout="this.innerHTML='READY TO FIRE'" onmouseover="this.innerHTML='FIRE!'">
                                    READY TO FIRE </button>
                            </div>
                            <div v-if="ships.length == 5 && !fleetDeployed" id="fleetButton"
                                class="d-flex justify-content-center align-items-center">
                                <button @click="submitShips" class="shipOutButton"
                                    onmouseout="this.innerHTML='FLEET READY'" onmouseover="this.innerHTML='SHIP OUT!'">
                                    FLEET READY </button>
                            </div>
                            <div v-if="enterSalvo && shotsFiredThisRound.length < 5 && gameStatus == null"
                                id="fleetButton" class="d-flex justify-content-center align-items-center">
                                <div class="pickYourShots">
                                    <p class="px-2">
                                        PICK.
                                    </p>
                                    <p class="px-2">
                                        YOUR.
                                    </p>
                                    <p class="px-2">
                                        SHOTS.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-5 mt-2">
                        <div class="d-flex flex-column">
                            <button class="opponentShipRender pb-3" id="patrolBoatOpponent"> 2 </button>
                            <div class="gameViewShipSelectorCaption text-center"> PATROL BOAT </div>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="opponentShipRender pb-3" id="destroyerOpponent"> 3 </button>
                            <div class="gameViewShipSelectorCaption text-center"> DESTROYER </div>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="opponentShipRender pb-3" id="submarineOpponent"> 3 </button>
                            <div class="gameViewShipSelectorCaption text-center"> SUBMARINE </div>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="opponentShipRender pb-3" id="battleshipOpponent"> 4 </button>
                            <div class="gameViewShipSelectorCaption text-center"> BATTLESHIP </div>
                        </div>
                        <div class="d-flex flex-column">
                            <button class="opponentShipRender pb-3" id="aircraftCarrierOpponent"> 5 </button>
                            <div class="gameViewShipSelectorCaption text-center"> AIRCRAFT CARRIER </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="game_view.js"> </script>

</html>