<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo - Games</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="games-page d-flex justify-content-end align-items-center">
    <h1 class="titleText"> S A L V O </h1>
    <div class="text-dark d-flex" id="app">
        <div class="loginContainer">
            <div v-if="!loginStatus" class="d-flex justify-content-between align-items-center pt-3 pr-3">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column align-items-end pr-3">
                        <label class="text-danger pt-4"> Username:
                            <input type="text" id="loginUsername" v-model="username">
                        </label>
                        <label class="text-danger"> Password:
                            <input type="text" id="loginPassword" v-model="password">
                        </label>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <button v-on:click="login" id="login-btn" type="submit" class="m-3 px-3">
                            Log In
                        </button>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <p class="text-danger pr-3"> Don't have an account? </p>
                        <p class="text-danger pr-3"> Fill in your details above and then click: </p>
                        <button v-on:click="register" id="signup-btn" type="submit" class="mr-3">
                            Register
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between pt-3 pr-3" v-else>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex">
                            <p class="pr-3 text-danger font-weight-bold"> Username: </p>
                            <p class="text-light"> {{currentUser.username}} </p>
                        </div>
                        <div class="d-flex px-3">
                            <p class="pr-3 text-danger font-weight-bold"> ID: </p>
                            <p class="text-light"> {{currentUser.id}} </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button v-on:click="logout" id="logoutButton" type="submit" class="my-3 mr-3 bg-light">
                            Log Out
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="loginStatus" class="gameListContainer">
            <div class="gameList">
                <div class="text-light pr-3">
                    <h1 class="gamesTitleText"> GAMES </h1>
                </div>
                <div class="d-flex flex-wrap">
                    <div v-for="(game, index) in userGames" class="text-light border border-light p-2 m-3"
                        :key="userGames.id">
                        <div class="matchTitleText border border-light d-flex justify-content-center"> 
                            <h3 class="text-light pr-2"> MATCH ID:
                            </h3>
                            <h3 class="text-danger"> {{game.gameID}} </h3>
                        </div>
                        <div class="gameContainer">
                            <h5 class="bg-light text-dark text-center"> Players: </h5>
                            <div v-for="(oneGamePlayer, index) in game.gamePlayers" :key="index"
                                class="bg-dark text-light" id="game_list">
                                <div class="bg-danger text-light">
                                    <ol>
                                        <p> Username: {{oneGamePlayer.player.username}}</p>
                                    </ol>
                                </div>
                            </div>
                            <h5 class="bg-light text-dark text-center"> Start Date: </h5>
                            <p class="text-center"> {{game.dateCreated}} </p>
                            <div class="d-flex justify-content-center">
                                <button> Join Game </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="games.js"> </script>

</html>