<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo - Game </title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="game_view_background" id="app">
        <div class="fleetTitleText d-flex justify-content-center align-items-center">
            <hp> FLEET </hp>
        </div>
        <div class="gameViewMenu">
            <div class="fleet d-flex">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="d-flex flex-column">
                        <button class="gameViewShipSelector"> 2 </button>
                        <div class="gameViewShipSelectorCaption text-center"> PATROL BOAT </div>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="gameViewShipSelector"> 3 </button>
                        <div class="gameViewShipSelectorCaption text-center"> DESTROYER </div>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="gameViewShipSelector"> 3 </button>
                        <div class="gameViewShipSelectorCaption text-center"> SUBMARINE </div>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="gameViewShipSelector"> 4 </button>
                        <div class="gameViewShipSelectorCaption text-center"> BATTLESHIP </div>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="gameViewShipSelector"> 5 </button>
                        <div class="gameViewShipSelectorCaption text-center"> AIRCRAFT CARRIER </div>
                    </div>
                </div>
                <div class="d-flex flex-column gameViewMenuButtonContainer">
                    <button class="gameViewMenuButton"> How to Play </button>
                    <button class="gameViewMenuButton"> Forfeit </button>
                    <button class="gameViewMenuButton"> Log Out </button>
                </div>
            </div>
        </div>
        <div class="pt-2 d-flex flex-column">
            <h1 class="viewTitleText mt-4"> S A L V O </h1>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <div class="m-3 d-flex mainTable2 align-items-center">
                <table class="d-flex" id="shipGrid">
                </table>
            </div>
            <div class="d-flex flex-column side-board-column pr-5">
                <div class="sideTable2">
                    <h3 class="text-center"> Shots fired </h3>
                    <table class="mx-3 my-3 d-flex justify-content-center" id="hitGrid">
                    </table>
                </div>
                <div v-for="(player, index) in players" :key="players.id" class="d-flex text-white align-items-center">
                    <div v-if="player.id == 1" class="bg-light border border-dark text-dark my-2 p-2">
                        <h3> {{player.player.username}} </h3>
                    </div>
                    <div v-if="player.id == 1" class="d-flex mx-3">
                        <div v-for="(ship, index) in player.ships" :key="ships.id"
                            class="border border-white bg-danger px-2 mb-2">
                            <h5 class="my-2 text-light font-italic"> {{ship.type}} –
                                &#40{{ship.locationOnBoard.length}}&#41</h5>
                            <p> {{ship.locationOnBoard}} </p>
                        </div>
                    </div>
                </div>
                <div v-for="(player, index) in players" :key="players.id" class="d-flex text-white align-items-center">
                    <div v-if="player.id == 2" class="bg-white border border-dark text-dark my-2 p-2">
                        <h3> {{player.player.username}} </h3>
                    </div>
                    <div v-if="player.id == 2" class="d-flex mx-3">
                        <div v-for="(ship, index) in player.ships" :key="ships.id"
                            class="border border-white bg-danger px-2">
                            <div class="d-flex align-items-center">
                                <h5 class="my-2 text-light font-italic"> {{ship.type}} –
                                    &#40{{ship.locationOnBoard.length}}&#41</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="tooltip"> HOW TO PLAY
            <span class="tooltiptext">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste suscipit obcaecati tempore,
                veritatis unde laborum error quasi aperiam. At non officia explicabo adipisci, suscipit id voluptatum
                quae maiores excepturi.
            </span>
        </div> -->
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="game_view.js"> </script>

</html>