<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo - Games</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="games-page">
    <div id="app">
        <div class="loginContainer d-flex justify-content-between">
            <div class="d-flex justify-content-center">
                <h1 class="titleText pb-3 pl-5 pr-5"> S A L V O </h1>
            </div>
            <div v-if="!loginStatus" class="pt-3 pr-3">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column align-items-end pr-3">
                        <label class="text-danger pt-4"> Username:
                            <input type="email" id="loginUsername" v-model="username">
                        </label>
                        <label class="text-danger"> Password:
                            <input type="password" id="loginPassword" v-model="password">
                        </label>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <p @click="login" id="login-btn" type="submit"
                            class="gameJoinButton text-center text-light border border-light my-3">
                            Log In
                        </p>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <p class="text-danger pr-3"> Don't have an account? </p>
                        <p class="text-danger pr-3"> Fill in your details above and then click: </p>
                        <p @click="register" id="signup-btn" type="submit"
                            class="gameJoinButton text-center text-light border border-light my-3">
                            Register
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between pt-3 pr-3" v-else>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-around">
                        <div class="d-flex">
                            <p class="pr-3 text-danger font-weight-bold"> Username: </p>
                            <p class="text-light"> {{currentUser.username}} </p>
                        </div>
                        <div class="d-flex px-3">
                            <p class="pr-3 text-danger font-weight-bold"> ID: </p>
                            <p class="text-light"> {{currentUser.id}} </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-end">
                        <p v-on:click="logout" id="logoutButton" type="submit"
                            class="gameJoinButton text-center text-light border border-light my-3 py-3">
                            LOG OUT
                        </p>
                        <p v-on:click="showUserRecord" id="logoutButton" type="submit"
                            class="gameJoinButton text-center text-light border border-light my-3 py-3">
                            SERVICE RECORD
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column p-5 m-5">
            <div v-if="loginStatus">
                <div class="newGameListContainer d-flex flex-column">
                    <div class="text-light pr-3">
                        <h2 class="gamesTitleText"> START A WAR </h2>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="gameJoinButton d-flex justify-content-center align-items-center border border-light text-light m-3 px-2"
                            v-on:click="newGame">
                            <h3 class="py-3"> NEW GAME </h3>
                        </div>
                        <div v-for="(game, index) in joinableGames" class="text-light border border-light p-2 m-3"
                            :key="joinableGames.id">
                            <div class="matchTitleText border border-light d-flex justify-content-center">
                                <h3 class="text-light pr-2"> MATCH ID:
                                </h3>
                                <h3 class="text-danger"> {{game.gameID}} </h3>
                            </div>
                            <div class="gameContainer">
                                <h5 class="bg-light text-dark text-center"> Players: </h5>
                                <div v-for="(oneGamePlayer, index) in game.gamePlayers" :key="index"
                                    class="bg-dark text-light" id="game_list">
                                    <div class="bg-danger text-light">
                                        <ol>
                                            <p> Username: {{oneGamePlayer.player.username}}</p>
                                        </ol>
                                    </div>
                                </div>
                                <h5 class="bg-light text-dark text-center"> Start Date: </h5>
                                <p class="text-center"> {{game.dateCreated}} </p>
                                <div class="d-flex justify-content-center gameJoinButton">
                                    <button class="gameJoinButton" @click="addPlayerToGame(game.gameID)"> JOIN GAME </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="loginStatus && userGames.length != 0" class="gameListContainer">
                <div class="gameList d-flex">
                    <div class="d-flex flex-column">
                        <div class="text-light pr-3">
                            <h2 class="gamesTitleText"> MILITARY HISTORY </h2>
                        </div>
                        <div class="d-flex gameListContainer">
                            <div v-for="(game, index) in userGames"
                                class="gameContainer text-light border border-light p-2 m-3" :key="userGames.id">
                                <div class="matchTitleText border border-light d-flex justify-content-center">
                                    <h3 class="text-light pr-2"> MATCH ID:
                                    </h3>
                                    <h3 class="text-danger"> {{game.gameID}} </h3>
                                </div>
                                <div v-if="!game.gameOver" class="mt-5">
                                    <h5 class="bg-light text-dark text-center"> Players: </h5>
                                    <div v-for="(oneGamePlayer, index) in game.gamePlayers" :key="index"
                                        class="bg-dark text-light" id="game_list">
                                        <div class="bg-danger text-light">
                                            <ol>
                                                <p> Username: {{oneGamePlayer.player.username}}</p>
                                            </ol>
                                        </div>
                                    </div>
                                    <h5 class="bg-light text-dark text-center"> Start Date: </h5>
                                    <p class="text-center"> {{game.dateCreated}} </p>
                                    <div class="d-flex justify-content-center align-items-center my-3">
                                        <h3 @click="rejoin(game)"
                                            class="gameJoinButton text-center border border-light py-3"> REJOIN BATTLE
                                        </h3>
                                    </div>
                                </div>
                                <div id="win" v-if="game.gameOver && game.winner == currentUser.id && !game.draw"
                                    class="d-flex display-3 justify-content-center aling-items-end">
                                    <div class=" d-flex align-items-end justify-content-end">
                                        WIN
                                    </div>
                                </div>
                                <div id="lose" v-if="game.gameOver && game.winner != currentUser.id && !game.draw"
                                    class="d-flex display-3 justify-content-center aling-items-center">
                                    <div class=" d-flex align-items-end justify-content-end">
                                        LOSE
                                    </div>
                                </div>
                                <div id="draw"
                                    v-if="game.gameOver && game.gamePlayers[0].winner && game.gamePlayers[1].winner"
                                    class="d-flex display-3 justify-content-center aling-items-center">
                                    <div class=" d-flex align-items-end justify-content-end">
                                        DRAW
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showRecord" class="d-flex flex-column record">
            <p class="display-1 text-white text-center"> {{currentUser.username}} </p>
            <div class="d-flex justify-content-around stats">
                <p> Wins: {{currentUser.win}} </p>
                <p> Losses: {{currentUser.lose}} </p>
                <p> Draws: {{currentUser.draw}} </p>
                <p> Total Score: {{currentUser.score}} </p>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="games.js"> </script>

</html>