<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="bg-danger loginContainer loginBar d-flex justify-content-center align-items-center" id="app">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="bg-light">
                <h1 class="display-1 text-center"> Salvo </h1>
                <div v-if="!currentUser.username" class="d-flex flex-column align-items-center">
                    <label>Username: <input type="text" id="loginUsername" v-model="username"></label>
                    <label>Password: <input type="text" id="loginPassword" v-model="password"></label>
                    <div>
                        <button v-on:click="login" id="submit-btn" type="submit" class="mx-3 px-3 my-3 bg-light">Log
                            In</button>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center" v-else>
                    <div>
                        <p> You are logged in :) </p>
                    </div>
                    <div class="d-flex">
                        <p class="pr-4 font-weight-bold"> Username: </p>
                        <p> {{currentUser.username}} </p>
                    </div>
                    <div class="d-flex">
                        <p class="pr-4 font-weight-bold"> ID: </p>
                        <p> {{currentUser.id}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

<script src="login.js"> </script>

</html>