.board {
    width: 850px;
    height: 850px;
    background-image: url("assets/blackwater2.gif"); 
    background-size: cover;
}
.grid-cell {
    font-weight: bold;
    background-size: cover;
    border: 1px solid white;
    height: 70px;
    width: 70px;
}

.ship-location {
    box-shadow: 5px 5px 10px 5px black;
    background-image: url("assets/shipTexture.jpeg");
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    /* animation: float 5s ease-in-out infinite; */
}

/* @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-5px);
    }
    50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(5px);
    }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(-5px);
    }
} */

.grid-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.grid-cell-unmarked {
    border-right: white;
    border-bottom: white;
}

.mainTable {
    border-top: double;
    border-right: double;
    border-bottom: solid;
    border-width: 80px;
    border-color: black;
}

.mainTable2 {
    border-top: double;
    border-left: double;
    border-bottom: double;
    border-width: 80px;
    border-color: black;
}

.mainTable3 {
    border-top: double;
    border-right: double;
    border-bottom: double;
    border-width: 80px;
    border-color: black;
}

.loginBar {
    border-top: solid;
    border-bottom: solid;
    border-width: 80px;
}

.sideTable {
    border-top: double;
    border-left: double;
    border-width: 35px;
    border-color: black;
}

.sideTable2 {
    border-top: double;
    border-right: double;
    border-bottom: double;
    border-width: 80px;
    border-color: black;
}

.hitBoard {
    width: 100%;
}

.hitMarker {
    background-size: cover;
    background-image: url("assets/fire.gif");
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.hitMarker2 {
    background-size: cover;
    background-image: url("assets/hitsmoke.gif");
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.missMarker {
    background-size: cover;
    background-image: url("assets/blackX.jpeg");
    background-position-x: -30px;
    filter: grayscale(100%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.missMarker2 {
    background-size: cover;
    background-image: url("assets/missMarker2.png");
}

.loginContainer {
    font-size: 32px;
    height: 100%;
    width: 100%;
}