.board {
    height: 600px;
    width: 600px;
    border: solid 10px black;
}

.games-page {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("assets/water_tile.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.game_view_background {
    background-image: url("assets/blackwater.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35vh 100vh;
}

.grid-cell {
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

.validLocation {
    background-image: url(assets/vhs_static.gif);
    box-shadow: inset 0px 0px 0px 10px white;
    box-sizing: border-box;
    filter:
        brightness(100%) sepia(100%) hue-rotate(190deg) saturate(300%) contrast(1);
    opacity: .5;
}

.invalidLocation {
    background-color: red;
    box-shadow: inset 0px 0px 0px 10px white;
    box-sizing: border-box;
    opacity: .7;
    filter:
        invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    background-size: 50%;
}

.patrolBoat {
    width: 140px;
    height: 70px;
}

.destroyer {
    width: 210px;
    height: 70px;
}

.submarine {
    width: 210px;
    height: 70px;
}

.battleship {
    width: 280px;
    height: 70px;
}

.aircraftCarrier {
    width: 350px;
    height: 70px;
}

.ship-location {
    background-image: url(assets/vhs_static.gif);
    box-shadow: inset 0px 0px 0px 10px white;
    box-sizing: border-box;
    /* Include padding and border in element's width and height */
    height: 60px;
    width: 60px;
    filter:
        brightness(600%) saturate(.5) contrast(1);
}


.grid-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.mainTable2 {
    border-left: double;
    border-width: 80px;
    border-color: black;
    border-radius: 100px;
}

.sideTable {
    border-right: double 90px black;
    border-radius: 100px;
}

.hitBoard {
    width: 100%;
    border: solid 10px black;
}

.hitMarker {
    background-size: cover;
    background-image: url("assets/hitMarker.gif");
    color: white;
}

.shipSunk {
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 125px;
    background-image: url("assets/userSunk.gif");
    background-size: cover;
    border: solid skyblue;
    height: 125px;
    filter:
        grayscale(100%) brightness(200%) saturate(600%) contrast(3);
}

.shipSunkOpponent {
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 125px;
    background-image: url("assets/userSunk.gif");
    transform: scaleX(-1);
    background-size: cover;
    border: solid skyblue;
    height: 125px;
    filter:
        grayscale(100%) brightness(75%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);

}

.pendingHit {
    background-image: url("assets/pendingHit.gif");
    background-size: cover;
}

.missMarker {
    background-size: cover;
    background-image: url("assets/missMarker.gif");
    color: white;
}

.missMarker2 {
    background-size: cover;
    background-color: black;
}

.loginBar {
    border-top: double black;
    border-bottom: double black;
    border-width: 25px;
}

.loginContainer {
    background-image: url("assets/35mm.gif");
    background-size: cover;
}

.titleText {
    font-size: 200px;
    color: white;
    background-image: url("/assets/35mm.gif");

}

.viewTitleText {
    font-size: 100px;
    display: flex;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
    color: black;
    background-color: white;
    border: solid white;
}

.viewTitleTextMirror {
    font-size: 200px;
    transform: scale(-1, 1);
}

.gameListContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.newGameListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gameContainer {
    background-image: url("/assets/35mm.gif");
    width: 275px;
}

.gameJoinButton {
    background-image: url("/assets/35mm.gif");
    width: 250px;
}

.gamesTitleText {
    font-size: 100px;
}

.matchTitleText {
    background-color: black;
}

.gameViewMenu {
    width: 25%;
    height: 25%;
    padding-top: 80px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.gameViewShipSelector {
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(assets/tumblr_mstgowIyZT1rdu90go1_1280.gif);
    background-size: cover;
    border: solid skyblue;
    height: 125px;
    width: 125px;
}

.gameViewShipSelectorSubmitted {
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(assets/4j3b.gif);
    background-size: cover;
    border: solid skyblue;
    height: 125px;
    width: 125px;
}

.opponentShipRender {
    font-size: 60px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(assets/water\ triangle.gif);
    background-size: contain;
    background-position-y: 40%;
    border: solid red;
    height: 125px;
    width: 125px;
}

.gameViewShipSelectorCaption {
    background-color: black;
    color: white;
    margin-left: 10px;
    width: 125px;
    border: solid white;
}

.bg-black {
    background-color: white;
    border: solid black 1px;
}

.gameViewMenuButton {
    font-size: 20px;
    width: 33%;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: white solid 5px;
}

.boardMenuButton {
    font-size: 20px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: white solid 5px;
}

.usernameDisplay {
    font-size: 30px;
    width: 70%;
    height: 60px;
    background: white;
    border: black 10px solid;
    color: black;
    text-transform: uppercase;
}

.gameViewMenuButtonContainer {
    background-image: url(assets/35mm.gif);
    margin-bottom: 30px;
}

.salvoButton {
    width: 250px;
    height: 150px;
    color: white;
    font-size: 35px;
    background-image: url(assets/vhs_static.gif);
    font-weight: bold;
    opacity: .9;
    border: solid 1px white;
}

.salvoButton:hover {
    background-image: url(assets/attackAnimation.gif);
    background-size: cover;
    color: white;
    background-position-y: 35%;
    animation: float 2s ease-in-out infinite;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.shipOutButton {
    width: 250px;
    height: 150px;
    color: white;
    font-size: 35px;
    background-image: url(assets/vhs_static.gif);
    font-weight: bold;
    opacity: .9;
    border: solid 1px white;
}

.shipOutButton:hover {
    background-image: url(assets/shipOut.gif);
    background-size: cover;
    color: white;
    background-position-y: 35%;
    animation: float 2s ease-in-out infinite;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-170deg) saturate(600%) contrast(0.8);
}

.pickYourShots {
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 50px;
    background-image: url(assets/vhs_static.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: .9;
}

.waiting {
    color: white;
    width: 100%;
    height: 350px;
    font-size: 50px;
    background-image: url(assets/vhs_static.gif);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    bottom: 40%;
    opacity: .9;
    position: fixed;
    z-index: 1;
    filter:
        contrast(2);
}

.record {
    color: white;
    width: 100%;
    height: 250px;
    font-size: 30px;
    background-image: url(assets/vhs_static.gif);
    display: flex;
    font-weight: bold;
    bottom: 15%;
    opacity: .9;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
    filter:
        contrast(2);
}

.stats {
    margin-left: 20%;
    margin-right: 20%;
}

.rulesContainer {
    background-image: url(assets/vhs_static.gif);
    margin-left: 10%;
    width: 80%;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: white double 40px;
    opacity: .9;
}

.rules {
    font-size: 30px;
}

.fleetTitleText {
    font-size: 30px;
    color: skyblue;
    border: solid white;
    background-image: url(assets/vhs_static.gif);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.opponentTitleText {
    font-size: 30px;
    border: solid white;
    background-image: url(assets/vhs_static.gif);
    width: 100%;
    text-align: center;
}

#win {
    background-image: url(assets/victory.gif);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
    height: 300px;
    width: 250px;
}

#lose {
    background-image: url(assets/defeat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
    height: 300px;
    width: 250px;
}

#draw {
    background-image: url(assets/draw.gif);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
    height: 300px;
    width: 250px;
}

#lose div {
    mix-blend-mode: difference;
    filter:
        grayscale(100%);
}

#win div {
    mix-blend-mode: difference;
    filter:
        grayscale(100%);
}

#draw div {
    mix-blend-mode: difference;
    filter:
        grayscale(100%);
}

#tryAgain {
    margin-left: 440px;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(-3px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(3px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(-3px);
    }
}

.gameViewShipSelector:hover {
    background-image: url(assets/4j3b.gif);
    background-size: cover;
    color: white;
    background-position-y: 35%;
    animation: float 2s ease-in-out infinite;
    filter:
        grayscale(100%) brightness(100%) sepia(100%) hue-rotate(190deg) saturate(600%) contrast(1);
}

.opponentShipRender:hover {
    background-image: url(assets/opponent.gif);
    background-size: cover;
    color: white;
    background-position-y: 35%;
    animation: float 2s ease-in-out infinite;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.gameViewMenuButton:hover {
    background-image: url(assets/dots-grid.gif);
    background-size: cover;
    color: white;
    background-position-y: 50%;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.gameJoinButton:hover {
    background-image: url(assets/dots-grid.gif);
    background-size: cover;
    color: white;
    background-position-y: 50%;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.boardMenuButton:hover {
    background-image: url(assets/dots-grid.gif);
    background-size: cover;
    color: white;
    background-position-y: 50%;
    filter:
        grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}