.board {
    width: 800px;
    height: 800px;
}
.grid-cell {
    border-color: black;
    border: solid;
    border-width: 1px;
    height: 70px;
    width: 70px;
}

.grid-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.grid-cell-unmarked {
    border-right: white;
    border-bottom: white;
}